.HiveExtension-Twitter_tweet-author-score {
    color: #4ab3f4;
    text-align: center;
    display: block;
    margin-left: 0px;
    position: absolute;
    left: 0;
    width: 71px;
    top: auto;
    margin-top: 60px;
}